@import colors
html,body
    height: 100%
body 
    background: $new_red url('../images/noise.png')
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #333333
    position: relative
h1,h2
    text-align: center
h1,h2,h3
    font-weight: 100
p
    font-weight: 100   
    color: $green 
h1
    color: white
    font-size: 40px
    font-family: 'Satisfy', serif
    font-weight: 400
h2
    margin-top: 40px
    color: white
    font-size: 20px
h3
    color: $grey    
li
    color: $green
ul
    list-style: none
a
    color: $grey
    text-decoration: none
    outline: none

img
    width: 100px
    height: 100px
    display: block
    margin-top: 5%
    margin-left: auto
    margin-right: auto
    border-radius: 50%
.et-wrapper
    height: 100%
    width: 100%
    margin: 0 auto
.et-page
    padding: 0 10%
    margin-top: 9%
    background: rgba(0,0,0,0.05)
    height: 64%
    p,li
        color: white
    li
        margin-bottom: 10px    
.rzo-soc
    width: 231px
    margin: 10px auto
    padding: 20px
    a
        color: white
        font-size: 40px
        padding: 5px
.h1-fade
    opacity: 0.6
    font-weight: 200



