@import colors
html,body
    height: 100%
body 
    background: $new_red url('../images/noise.png')
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #333333
    position: relative
h1,h2
    text-align: center
h1,h2,h3
    font-weight: 100
p
    font-weight: 100   
    color: $green 
h1
    color: white
    font-size: 40px
    font-family: 'Satisfy', serif
    font-weight: bold
h2
    margin-top: 40px
    color: white
    font-size: 20px
h3
    color: $grey    
li
    color: $green
a
    color: $grey
    text-decoration: none
    outline: none

img
    width: 100px
    height: 100px
    display: block
    margin-top: 150px
    margin-left: auto
    margin-right: auto
    border-radius: 50%
.infos
    margin-top: 100px        
.et-wrapper
    height: 100%
    width: 80%
    margin: 0 auto
.et-page
    p
        padding: 40px
        color: white
.rzo-soc
    width: 228px
    margin: 10px auto
    padding: 20px
    a
        color: white
        font-size: 40px
        padding: 5px




